/*general-----------------------------------------------------------------------------------------*/
body{
    background-color: rgb(241, 240, 239);
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    padding: 10px;
}

.content{
    text-align: center;
    height: 95%;
    background-color: white;
}

.flexbox{
    object-fit: contain;
    display: flex;
    flex-direction: row;
}

.container{
    background-color: rgba(169, 169, 169, 0.486);
    margin: auto;
    height: 100%;
    width: 45%;
}


/*header section ----------------------------------------------------------------------------------*/
#header{
    position: realtive;
    height: 45%;
    background-color: rgb(215, 233, 240);
    overflow: hidden;
}

#header::before{
    content: "";
    width: 95%;
    height: 45%;
    position: absolute;
    background-image: url(data/00021_Mask.jpg), url(data/20060_Mask_Chin.jpg), url(data/50020.jpg);
    background-position: left center, center center, right center;
    background-size: 33.33%;
    background-repeat: no-repeat;
    opacity: 40%;
    left: 2.5%;
    top: 1%;
}

#header div{
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    text-align: center;
}

/*navigation bar ---------------------------------------------------------------------------------*/
#navbar{
    background-color: rgb(13, 13, 68);
    padding: 10px;
    position: sticky;
    top: 0px;
}

.button{
    color: white;
    padding: 5px;
}
